<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
   <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
   <div class="mb-3">
    <label for="img" class="form-label">img</label>
    <input type="text" class="form-control" id="img" name="img">
  </div>
  <button type="submit" class="btn btn-primary">Thêm Khóa học</button>
</form>
</div>